.header-panel .container{

  @include media-below($skeleton-width-break-2){
    padding: 0px 20px;
  }

  @include media-between($skeleton-width-break-2, $skeleton-width-break-3){
    width: 100%;
    margin: 0;
    padding: 0;
  }

  @include media-above($skeleton-width-break-3){
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
  }

}