/* bg colors */
.fierce-red{
	background-color: #c74029;
}
.turquoise{
	background-color: hsl(170, 52%, 54%);
}
.semi-transparent{
	background-color: rgba(50,50,50,0.2);
}
.full-transparent{
	background-color: rgba(50,50,50,0.0);
}
.soft-white{
	background-color: #f2f2f0;
}
.soft-white-light{
	background-color: #f7f6f2;
}
.light-gray{
	background-color: #eee
}

/* color only */
.alt-text-color{
	color: #6b6a66;
}

.link-blue{
	color: #2793E6;
}

.text-mid-gray{
	color: #555555;
}

.text-white{
	color: white !important;
}