.font-weight-normal{ font-weight: normal; }
.activable{ cursor: pointer; }

.text-center{ text-align: center; }
.block-center{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/*
 * padding & margins & borders
 */
.no-padding{ padding: 0px !important; }
.no-margin{ margin: 0px !important; }
.no-borders{ border-style: none; }
.raw-dim{
	@extend .no-padding;
	@extend .no-margin;
	@extend .no-borders;
}

/*
 * padding
 */
$padding-std: 5px;
$padding-mid: 8px;
$padding-huge: 15px;
.std-paddings{ padding: $padding-std $padding-huge; }

@mixin padding-horizontal($padding-size) {
	padding-left: $padding-size;
	padding-right: $padding-size;
}
.std-padding-h { @include padding-horizontal($padding-std); }
.mid-padding-h { @include padding-horizontal($padding-mid); }
.huge-padding-h{ @include padding-horizontal($padding-huge); }
.std-paddings-square  { padding: $padding-std; }
.small-paddings-square{ padding: $padding-mid; }
.huge-paddings-square { padding: $padding-huge; }

/*
 * margin
 */
$margin-std: 5px;
$margin-mid: 12px;
$margin-huge: 25px;
.std-margin-b { margin-bottom: $margin-std !important; }
.mid-margin-b { margin-bottom: $margin-mid !important; }
.huge-margin-b{ margin-bottom: $margin-huge !important; }
.std-margin-t { margin-top: $margin-std !important; }
.mid-margin-t { margin-top: $margin-mid !important; }
.huge-margin-t{ margin-top: $margin-huge !important; }
