.font-weight-normal{ font-weight: normal; }
.activable{ cursor: pointer; }
.no-select{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.u-full-height {
  height: 100%;
}

.text-center{ text-align: center; }
.block-center{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.clearfix  { clear: both; }


/*
 * media query utils
 */
@mixin media-between($width-from, $width-to) {
  @media (min-width: #{$width-from}) and (max-width: #{$width-to - 1px}) {
    @content;
  }
}

@mixin media-above($width-from) {
  @media (min-width: #{$width-from}) {
    @content;
  }
}

@mixin media-below($width-to) {
  @media (max-width: #{$width-to - 1}) {
    @content;
  }
}


/*
 * padding & margins & borders
 */
.no-padding{ padding: 0px !important; }
.no-margins{ margin: 0px !important; }
.no-borders{ border-style: none; }
.raw-dim{
	@extend .no-padding;
	@extend .no-margins;
	@extend .no-borders;
}

/*
 * padding
 */
$padding-std: 5px;
$padding-mid: 8px;
$padding-huge: 15px;
.std-paddings{ padding: $padding-std $padding-huge; }

@mixin padding-horizontal($padding-size) {
	padding-left: $padding-size;
	padding-right: $padding-size;
}
.no-padding-h { @include padding-horizontal(0px); }
.std-padding-h { @include padding-horizontal($padding-std); }
.mid-padding-h { @include padding-horizontal($padding-mid); }
.huge-padding-h{ @include padding-horizontal($padding-huge); }
.std-paddings-square  { padding: $padding-std; }
.mid-paddings-square{ padding: $padding-mid; }
.huge-paddings-square { padding: $padding-huge; }

@each $sh, $dir in (l,left),(r,right),(t,top),(b,bottom){
  .std-padding-#{$sh} { padding-#{$dir}: $padding-std  !important; }
  .mid-padding-#{$sh} { padding-#{$dir}: $padding-mid  !important; }
  .huge-padding-#{$sh}{ padding-#{$dir}: $padding-huge !important; }
}

/*
 * margin
 */
$margin-std: 5px;
$margin-mid: 12px;
$margin-huge: 25px;
@each $sh, $dir in (l,left),(r,right),(t,top),(b,bottom){
  .std-margin-#{$sh} { margin-#{$dir}: $margin-std  !important; }
  .mid-margin-#{$sh} { margin-#{$dir}: $margin-mid  !important; }
  .huge-margin-#{$sh}{ margin-#{$dir}: $margin-huge !important; }
}
