@import "normalize.scss";
@import "skeleton.scss";

$accent: #A149CD;
$skeleton-width-break-1:400px;
$skeleton-width-break-2:550px;
$skeleton-width-break-3:750px;
$skeleton-width-break-4:1000px;
$skeleton-width-break-5:1200px;


ul, menu, dir {
	list-style-type: none;
	padding-left: 0px;
}

.accented{ background-color: $accent !important }

@import 'utils';
@import 'animation';
@import 'z_depth';
@import 'theme';

@import 'header';
@import 'content-layout';

@import 'range';
@import 'buttons';
@import 'graph';
