$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
/*@import "normalize.css/normalize.css";*/
/*@import "skeleton/css/skeleton.css";*/
@import "normalize.css/normalize.scss";
@import "skeleton/css/skeleton.scss";
// endbower

$nav-bar-height: 80px;
$accent: #A149CD;

ul, menu, dir {
	list-style-type: none;
	padding-left: 0px;
}


.header-panel{
  height: $nav-bar-height;
  position: relative;
  z-index: 3;
}

.accented{ background-color: $accent !important }

@import 'utils';
@import 'z_depth';
@import 'theme';
@import 'range';
@import 'buttons';
@import 'graph';
