doctype html
html(lang="en")
  head
    title= 'Distributed-systems-simulation'
    link( rel="stylesheet", href="styles/main.css")

  body.light-gray.no-margin

    header.accented.z-depth-2
      .container.header__inner.huge-padding-t
        .row.text-white
          .two.columns
            h2 Read:
          .four.columns.std-padding-h
            p Ask all nodes in the cluster for their value. Select the largest.
          .two.columns
            h2 Write:
          .four.columns.std-padding-h
            p Propagate new value to all nodes in the cluster.

    section.u-block-center
      .container
        .row
          // left panel
          .content.no-margins.z-depth-1
            .content__controls
              // N
              .huge-margin-b.huge-margin-t
                .u-clearfix
                  label.u-pull-left.font-weight-normal(for="N" style="line-height: 35px;")
                    | N
                  button#graph-reload.btn.btn-floating.u-pull-right.no-margins.mid-paddings-square(onclick="model.reset()")
                    img#N-refresh-button.u-full-width.u-full-height(src="images/reload.png")
                  span#N-value.u-pull-right.huge-padding-h(style="line-height: 35px;")
                    | 6
                input#N(type="range" min="5" max="16" value="6" step="1")
              // Msg failure
              .huge-margin-b.huge-margin-t
                .u-clearfix
                  label.u-pull-left.font-weight-normal(for="msg-fail" style="line-height: 35px;")
                    | Msg failure
                  span#msg-fail-value.u-pull-right(style="line-height: 35px;")
                    | 50%
                input#msg-fail(type="range" min="0" max="100" value="50" step="5")
            .content__buttons
              button.btn.btn-accented.u-block-center(onclick="model.read()")
                | Read
              button.btn.btn-accented.u-block-center(onclick="model.ae()")
                | Anti-entropy
              button.btn.btn-accented.u-block-center(onclick="model.graph.clear()")
                | Clear
          
          // right panel
          #graph-panel.no-margins
            .d3_graph
          
    //- scripts
    script( src="../bower_components/underscore/underscore.js")
    script( src="../bower_components/jquery/dist/jquery.js")
    script( src="../bower_components/d3/d3.js")
    script( src="scripts/main_d3.js")
    script( src="scripts/main.js")
