//- http://localhost:9000/templates/main.html

doctype html
html(lang="en" ng-app="myAppApp")
  head
    title= 'ds'
    //link( rel="stylesheet", href="../bower_components/ngDialog/css/ngDialog-theme-default.css")
    link( rel="stylesheet", href="../bower_components/bootstrap/dist/css/bootstrap.css")
    link( rel="stylesheet", href="../bower_components/bootstrap-material-design/dist/css/material.css")
    link( rel="stylesheet", href="../bower_components/bootstrap-material-design/dist/css/ripples.css")
    link( rel="stylesheet", href="../styles/main.css")

  body.light-gray.no-margin

    //- top naviagtion bar
    .header-panel.shadow-z-2.accented
      .container
        .row.text-white.huge-paddings-square
          // TODO add instructions here
          // ON READ: abcde\nasdasd ON WRITE: abcdeasds\nasds
          .col-xs-2
            span.text-big
              | Read:
          .col-xs-4.small-padding-horizontal
            span
              | Ask all nodes in the cluster for their value. Select the largest
          .col-xs-2
            span.text-big
              | Write:
          .col-xs-4.small-padding-horizontal
            span
              | Propagate new value to all nodes in the cluster

    .container.block-center.huge-padding-horizontal
      .row
        // right panel
        .col-xs-9
          .d3_graph
        // left panel
        .col-xs-3.menu.shadow-z-1.inputs
          div.margin-bottom-huge.margin-top-huge
            .clearfix
              span.pull-left(style="line-height: 35px;")
                | N
              button.pull-right.btn.btn.fab.btn-fab-mini.btn-raised.btn-material-lightyellow.no-margin.small-paddings-square(id="graph-reload")
                span.glyphicon.glyphicon-refresh
              span.pull-right.huge-padding-horizontal(id="N-value" style="line-height: 35px;")
                | 6
            div#N.slider.shor.slider-material-orange

          //- div.margin-bottom-huge
            //- input#R.form-control.floating-label(type="text" data-hint="min #nodes to ask on read" placeholder="R" value="N/2 + 1")
          //- div.margin-bottom-huge
            //- input#W.form-control.floating-label(type="text" data-hint="min #nodes to ask on write" placeholder="W" value="N/2 + 1")

          div.margin-bottom-huge.margin-top-huge
            .clearfix
              span.pull-left(style="line-height: 35px;")
                | Msg failure
              span.pull-right(id="msg-fail-value" style="line-height: 35px;")
                | 50%
            div#msg-fail.slider.shor.slider-material-orange

          button.btn.btn-accented.block-center(onclick="read()")
            | read
          button.btn.btn-accented.block-center(onclick="ae()")
            | anti-entropy
          button.btn.btn-accented.block-center(onclick="graph.clear()")
            | clear
          //- button.btn.btn-accented.block-center(onclick="addRandConnection()")
            //- | add

    //- scripts

    //- libraries
    script( src="../bower_components/underscore/underscore.js")
    script( src="../bower_components/jquery/dist/jquery.js")
    script( src="../bower_components/nouislider/distribute/jquery.nouislider.all.js")
    script( src="../bower_components/bootstrap-material-design/scripts/ripples.js")
    script( src="../bower_components/bootstrap-material-design/scripts/material.js")
    script( src="../bower_components/d3/d3.js")
    script( src="scripts/main_d3.js")
    script( src="scripts/main.js")
    
